{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ stage.DateDebut }}</td>
            </tr>
            <tr>
                <th>NbJours</th>
                <td>{{ stage.nbJours }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stage2_index') }}">back to list</a>

    <a href="{{ path('app_stage2_edit', {'id': stage.id}) }}">edit</a>

    {{ include('stage2/_delete_form.html.twig') }}
{% endblock %}
